ComputerScience/(2011-2)_-_Programming_Project/ver2/AndroidFeeder/web/data/AndroidService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. -->
<definitions targetNamespace="http://services.com/" name="AndroidService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.com/" schemaLocation="AndroidService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="test">
    <part name="parameters" element="tns:test"/>
  </message>
  <message name="testResponse">
    <part name="parameters" element="tns:testResponse"/>
  </message>
  <message name="requestNoticesListByType">
    <part name="parameters" element="tns:requestNoticesListByType"/>
  </message>
  <message name="requestNoticesListByTypeResponse">
    <part name="parameters" element="tns:requestNoticesListByTypeResponse"/>
  </message>
  <message name="requestNoticesList">
    <part name="parameters" element="tns:requestNoticesList"/>
  </message>
  <message name="requestNoticesListResponse">
    <part name="parameters" element="tns:requestNoticesListResponse"/>
  </message>
  <message name="requestFilteredNotices">
    <part name="parameters" element="tns:requestFilteredNotices"/>
  </message>
  <message name="requestFilteredNoticesResponse">
    <part name="parameters" element="tns:requestFilteredNoticesResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="requestNotices">
    <part name="parameters" element="tns:requestNotices"/>
  </message>
  <message name="requestNoticesResponse">
    <part name="parameters" element="tns:requestNoticesResponse"/>
  </message>
  <portType name="AndroidService">
    <operation name="test">
      <input wsam:Action="http://services.com/AndroidService/testRequest" message="tns:test"/>
      <output wsam:Action="http://services.com/AndroidService/testResponse" message="tns:testResponse"/>
    </operation>
    <operation name="requestNoticesListByType">
      <input wsam:Action="http://services.com/AndroidService/requestNoticesListByTypeRequest" message="tns:requestNoticesListByType"/>
      <output wsam:Action="http://services.com/AndroidService/requestNoticesListByTypeResponse" message="tns:requestNoticesListByTypeResponse"/>
    </operation>
    <operation name="requestNoticesList">
      <input wsam:Action="http://services.com/AndroidService/requestNoticesListRequest" message="tns:requestNoticesList"/>
      <output wsam:Action="http://services.com/AndroidService/requestNoticesListResponse" message="tns:requestNoticesListResponse"/>
    </operation>
    <operation name="requestFilteredNotices">
      <input wsam:Action="http://services.com/AndroidService/requestFilteredNoticesRequest" message="tns:requestFilteredNotices"/>
      <output wsam:Action="http://services.com/AndroidService/requestFilteredNoticesResponse" message="tns:requestFilteredNoticesResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://services.com/AndroidService/requestFilteredNotices/Fault/Exception"/>
    </operation>
    <operation name="requestNotices">
      <input wsam:Action="http://services.com/AndroidService/requestNoticesRequest" message="tns:requestNotices"/>
      <output wsam:Action="http://services.com/AndroidService/requestNoticesResponse" message="tns:requestNoticesResponse"/>
    </operation>
  </portType>
  <binding name="AndroidServicePortBinding" type="tns:AndroidService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="test">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="requestNoticesListByType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="requestNoticesList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="requestFilteredNotices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="requestNotices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AndroidService">
    <port name="AndroidServicePort" binding="tns:AndroidServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

