ComputerScience/(2015-1)_-_Estimation_and_planification_of_software_projects/Examples/consolapruebas/xml-resources/web-service-references/Galleta/wsdl/192.168.1.115_8080/Software/Galleta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://capacitacion.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://capacitacion.com/" name="Galleta">
<types>
<xsd:schema>
<xsd:import namespace="http://capacitacion.com/" schemaLocation="http://192.168.1.115:8080/Software/Galleta?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="sumarPositivos">
<part name="parameters" element="tns:sumarPositivos"/>
</message>
<message name="sumarPositivosResponse">
<part name="parameters" element="tns:sumarPositivosResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="hello_dos">
<part name="parameters" element="tns:hello_dos"/>
</message>
<message name="hello_dosResponse">
<part name="parameters" element="tns:hello_dosResponse"/>
</message>
<portType name="Galleta">
<operation name="hello">
<input wsam:Action="http://capacitacion.com/Galleta/helloRequest" message="tns:hello"/>
<output wsam:Action="http://capacitacion.com/Galleta/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="sumarPositivos">
<input wsam:Action="http://capacitacion.com/Galleta/sumarPositivosRequest" message="tns:sumarPositivos"/>
<output wsam:Action="http://capacitacion.com/Galleta/sumarPositivosResponse" message="tns:sumarPositivosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://capacitacion.com/Galleta/sumarPositivos/Fault/Exception"/>
</operation>
<operation name="hello_dos">
<input wsam:Action="http://capacitacion.com/Galleta/hello_dosRequest" message="tns:hello_dos"/>
<output wsam:Action="http://capacitacion.com/Galleta/hello_dosResponse" message="tns:hello_dosResponse"/>
</operation>
</portType>
<binding name="GalletaPortBinding" type="tns:Galleta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumarPositivos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello_dos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Galleta">
<port name="GalletaPort" binding="tns:GalletaPortBinding">
<soap:address location="http://192.168.1.115:8080/Software/Galleta"/>
</port>
</service>
</definitions>