ComputerScience/(2015-1)_-_Estimation_and_planification_of_software_projects/Examples/consolapruebas/xml-resources/web-service-references/Galleta/wsdl/192.168.1.115_8080/Software/Galleta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://capacitacion.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://capacitacion.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="hello_dos" type="tns:hello_dos"/>

<xs:element name="hello_dosResponse" type="tns:hello_dosResponse"/>

<xs:element name="sumarPositivos" type="tns:sumarPositivos"/>

<xs:element name="sumarPositivosResponse" type="tns:sumarPositivosResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello_dos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello_dosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarPositivos">
<xs:sequence>
<xs:element name="a" type="xs:int" minOccurs="0"/>
<xs:element name="b" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarPositivosResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>