ComputerScience/(2015-1)_-_Estimation_and_planification_of_software_projects/Examples/anew/3407A223A/Examples/AppConsola/xml-resources/web-service-references/Demo/wsdl/localhost_8080/DireccionServicioWeb/Demo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://demo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://demo.com/">

<xs:element name="crearBaseDatos" type="tns:crearBaseDatos"/>

<xs:element name="crearBaseDatosResponse" type="tns:crearBaseDatosResponse"/>

<xs:element name="dummy" type="tns:dummy"/>

<xs:element name="dummyResponse" type="tns:dummyResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertar" type="tns:insertar"/>

<xs:element name="insertarResponse" type="tns:insertarResponse"/>

<xs:element name="leerTodos" type="tns:leerTodos"/>

<xs:element name="leerTodosResponse" type="tns:leerTodosResponse"/>

<xs:element name="retornaArray" type="tns:retornaArray"/>

<xs:element name="retornaArrayResponse" type="tns:retornaArrayResponse"/>

<xs:complexType name="insertar">
<xs:sequence>
<xs:element name="parametro" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dummy">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="dummyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerTodos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="leerTodosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearBaseDatos">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearBaseDatosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornaArray">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retornaArrayResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>