ComputerScience/(2015-1)_-_Estimation_and_planification_of_software_projects/Examples/JavaFXApplicationDemo/xml-resources/web-service-references/DemoWebService/wsdl/localhost_8080/DemoWebService/DemoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jvarred.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jvarred.com/" name="DemoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://jvarred.com/" schemaLocation="http://localhost:8080/DemoWebService/DemoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="initialize">
<part name="parameters" element="tns:initialize"/>
</message>
<message name="initializeResponse">
<part name="parameters" element="tns:initializeResponse"/>
</message>
<message name="getAllStrings">
<part name="parameters" element="tns:getAllStrings"/>
</message>
<message name="getAllStringsResponse">
<part name="parameters" element="tns:getAllStringsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertString">
<part name="parameters" element="tns:insertString"/>
</message>
<message name="insertStringResponse">
<part name="parameters" element="tns:insertStringResponse"/>
</message>
<portType name="DemoWebService">
<operation name="initialize">
<input wsam:Action="http://jvarred.com/DemoWebService/initializeRequest" message="tns:initialize"/>
<output wsam:Action="http://jvarred.com/DemoWebService/initializeResponse" message="tns:initializeResponse"/>
</operation>
<operation name="getAllStrings">
<input wsam:Action="http://jvarred.com/DemoWebService/getAllStringsRequest" message="tns:getAllStrings"/>
<output wsam:Action="http://jvarred.com/DemoWebService/getAllStringsResponse" message="tns:getAllStringsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://jvarred.com/DemoWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://jvarred.com/DemoWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertString">
<input wsam:Action="http://jvarred.com/DemoWebService/insertStringRequest" message="tns:insertString"/>
<output wsam:Action="http://jvarred.com/DemoWebService/insertStringResponse" message="tns:insertStringResponse"/>
</operation>
</portType>
<binding name="DemoWebServicePortBinding" type="tns:DemoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initialize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStrings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DemoWebService">
<port name="DemoWebServicePort" binding="tns:DemoWebServicePortBinding">
<soap:address location="http://localhost:8080/DemoWebService/DemoWebService"/>
</port>
</service>
</definitions>