ComputerScience/(2015-1) - Estimation and planification of software projects/Examples/anew/3407A223A/Examples/AppConsola/xml-resources/web-service-references/Demo/wsdl/localhost_8080/DireccionServicioWeb/Demo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://demo.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://demo.com/" name="Demo">
<types>
<xsd:schema>
<xsd:import namespace="http://demo.com/" schemaLocation="http://localhost:8080/DireccionServicioWeb/Demo?xsd=1"/>
</xsd:schema>
</types>
<message name="crearBaseDatos">
<part name="parameters" element="tns:crearBaseDatos"/>
</message>
<message name="crearBaseDatosResponse">
<part name="parameters" element="tns:crearBaseDatosResponse"/>
</message>
<message name="dummy">
<part name="parameters" element="tns:dummy"/>
</message>
<message name="dummyResponse">
<part name="parameters" element="tns:dummyResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="retornaArray">
<part name="parameters" element="tns:retornaArray"/>
</message>
<message name="retornaArrayResponse">
<part name="parameters" element="tns:retornaArrayResponse"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<message name="leerTodos">
<part name="parameters" element="tns:leerTodos"/>
</message>
<message name="leerTodosResponse">
<part name="parameters" element="tns:leerTodosResponse"/>
</message>
<portType name="Demo">
<operation name="crearBaseDatos">
<input wsam:Action="http://demo.com/Demo/crearBaseDatosRequest" message="tns:crearBaseDatos"/>
<output wsam:Action="http://demo.com/Demo/crearBaseDatosResponse" message="tns:crearBaseDatosResponse"/>
</operation>
<operation name="dummy">
<input wsam:Action="http://demo.com/Demo/dummyRequest" message="tns:dummy"/>
<output wsam:Action="http://demo.com/Demo/dummyResponse" message="tns:dummyResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://demo.com/Demo/helloRequest" message="tns:hello"/>
<output wsam:Action="http://demo.com/Demo/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="retornaArray">
<input wsam:Action="http://demo.com/Demo/retornaArrayRequest" message="tns:retornaArray"/>
<output wsam:Action="http://demo.com/Demo/retornaArrayResponse" message="tns:retornaArrayResponse"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://demo.com/Demo/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://demo.com/Demo/insertarResponse" message="tns:insertarResponse"/>
</operation>
<operation name="leerTodos">
<input wsam:Action="http://demo.com/Demo/leerTodosRequest" message="tns:leerTodos"/>
<output wsam:Action="http://demo.com/Demo/leerTodosResponse" message="tns:leerTodosResponse"/>
</operation>
</portType>
<binding name="DemoPortBinding" type="tns:Demo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearBaseDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dummy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornaArray">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="leerTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Demo">
<port name="DemoPort" binding="tns:DemoPortBinding">
<soap:address location="http://localhost:8080/DireccionServicioWeb/Demo"/>
</port>
</service>
</definitions>